.DS_Store
./tmux/plugins
claude/projects
claude/statsig
claude/todos
fish/fish_variables
tmux/plugins
btop/btop.log
fish/themes
fish/work_env.fish
github-copilot/
lazygit/state.yml
nvim/lazy-lock.json
pet/snippet.toml
